- content_for :title do
	Home | Ninja Learning

- content_for :sidebar do
	= render 'add_learning_units_form'
	
%h1 LearningUnit#index
%p Find me in app/views/learning_unit/index.html.haml
- @learning_units.each do |lu|
	= link_to lu.title, lu.url